In [6]:
import requests
import pandas as pd
from sqlalchemy import create_engine
import psycopg2


#VARIABLES DECLARATION
url = "https://jsearch.p.rapidapi.com/search"

querystring = {"query":"Data Engineer in Ontario, Canada","page":"1","num_pages":"1","date_posted":"month"}

headers = {
    "X-RapidAPI-Key": "3e7ebba058msh39669ece9e3775cp13c949jsnaf1c2c5672ea",
    "X-RapidAPI-Host": "jsearch.p.rapidapi.com"
}

##lIST OF SKILLS
words = ['ETL','Orchestration', 'modeling', 'python', 
         'sql','pandas','docker','aws','gcp','google cloud',
         'postgres','mongodb','spark','jira','databricks',
         'azure','dbt','amazon','s3','linux','hadoop','kubernetes',
         'hbase','hive','fivetran','mage','airflow','ci/cd','elt']

acronyms = ['sql','dbt','elt','etl','aws','gcp'] #Acronyms from skills list that would need to be made uppercase

#
employer_website = []
job_id = []
job_employment_type = []
job_title = []
job_apply_link=[]
job_description=[]
job_city=[]
job_country =[]
job_posted_at_date =[]
employer_company_type =[]



#create a function to extract skills from an input
def extract_skills(c):
    skills = []
    for i in words:
        if i.lower() in c.lower():
            if i.lower() in acronyms:
                skills.append(i.upper())
            else: skills.append(i.title())
    return skills





def get_data_from_api():
    response = requests.get(url, headers=headers, params=querystring)
    data = response.json()
    return data



def extract_relevant_records_from_overall_data(data):

    for i in range(len(data['data'])):
        employer_website.append(data['data'][i]['employer_website'])
        job_id.append(data['data'][i]['job_id'])
        job_employment_type.append(data['data'][i]['job_employment_type'])
        job_title.append(data['data'][i]['job_title'])
        job_apply_link.append(data['data'][i]['job_apply_link'])
        job_description.append(data['data'][i]['job_description'])
        job_city.append(data['data'][i]['job_city'])
        job_country.append(data['data'][i]['job_country'])
        job_posted_at_date.append(data['data'][i]['job_posted_at_datetime_utc'][:10])
        employer_company_type.append(data['data'][i]['employer_company_type'])





def translate_extractions_to_dataframe_and_transform():
    #placing values into columns
    rapid_dict = {
                    'job_id': job_id,
                    'employer_website':employer_website,
                    'job_employment_type':job_employment_type,
                    'job_title':job_title,
                    'job_apply_link':job_apply_link,
                    'job_description':job_description,
                    'job_city':job_city,
                    'job_country':job_country,
                    'job_posted_at_date':job_posted_at_date,
                    'employer_company_type':employer_company_type        

                 }
    job_df = pd.DataFrame(rapid_dict)#convert to dataframe
    
    #convert date column datatype from string to datetime
    job_df['job_posted_at_date'] = pd.to_datetime(job_df['job_posted_at_date'])
    
    #Add a new column in the dataframe and extract skills from the job_description column
    #using the job_description column as an input in the extract_skills function
    job_df['skillset'] = job_df['job_description'].apply(lambda x: extract_skills(x))
    
    #CHANGE THE POSITION OF THE SKILLSET COLUMN FROM LAST TO AFTER THE JOB DESCRIPTION COLUMN
    
    #remove the skillset column and save it in a variable
    skillset_col = job_df.pop('skillset')
    
    # insert column using insert(position,column_name,skillset_col) function
    job_df.insert(6, 'skillset', skillset_col)
  
    return job_df

# Function to create a PostgreSQL Table

def df_to_sql(df,table_name):
    engine = create_engine('postgresql://postgres:[password]@localhost:5432/cohort_4')
    df.to_sql(table_name, engine)
    
    


extract_relevant_records_from_overall_data(get_data_from_api())

df_rapid=translate_extractions_to_dataframe_and_transform()


    

df_rapid

,job_id,employer_website,job_employment_type,job_title,job_apply_link,job_description,skillset,job_city,job_country,job_posted_at_date,employer_company_type
0,M0Ub2VqVAjEAAAAAAAAAAA==,http://www.magnestar.space,FULLTIME,Senior Data Engineer,https://ca.linkedin.com/jobs/view/senior-data-...,Location: Hybrid WFH/Toronto - Remote-only may...,"[Python, AWS, Azure]",Toronto,CA,2023-08-15,None
1,JIyPXXRFFMsAAAAAAAAAAA==,http://www.tmf-group.com,FULLTIME,Data Engineer,https://ca.linkedin.com/jobs/view/data-enginee...,We never ask for payment as part of our select...,"[ETL, Modeling, Python, SQL, AWS, Jira, Databr...",Toronto,CA,2023-08-14,Consulting
2,ICQs4CU35c0AAAAAAAAAAA==,http://www.centennialcollege.ca,FULLTIME,Data Engineer (ETL),https://ca.linkedin.com/jobs/view/data-enginee...,"(As a unionized employer, Centennial College g...","[ETL, Modeling, Python, SQL, AWS, Google Cloud...",Toronto,CA,2023-08-14,Education
3,KbjWT2dGADQAAAAAAAAAAA==,http://www.citigroup.com,FULLTIME,Lead Data Engineer - Hybrid,https://jobs.citi.com/job/mississauga/lead-dat...,"This is an exciting opportunity for a Lead, cl...","[Python, Docker, AWS, GCP, Azure, Kubernetes, ...",Mississauga,CA,2023-08-15,Finance
4,QLwqf83NE4UAAAAAAAAAAA==,http://citylitics.com,FULLTIME,Data Engineer,https://apply.workable.com/citylitics/j/86811E...,About Citylitics\n\nCitylitics delivers predic...,"[ETL, Orchestration, Python, SQL, Docker, Goog...",Toronto,CA,2023-08-09,None
5,-jOoGcptkLcAAAAAAAAAAA==,None,FULLTIME,Sr. Data Engineer,https://ca.linkedin.com/jobs/view/sr-data-engi...,Job Summary\n\nIn collaboration with the Manag...,"[ETL, Python, SQL, AWS, Amazon, S3]",Oakville,CA,2023-08-14,None
6,27RUK2qmungAAAAAAAAAAA==,http://www.sobeys.com,FULLTIME,Data Engineer,https://jobs.sobeyscareers.com/sobeys/job/Toro...,Requisition ID: 173769\n\nCareer Group: Corpor...,"[Modeling, Python, SQL, Spark, Azure]",Toronto,CA,2023-08-09,Retail
7,Jzz2I_-6wQIAAAAAAAAAAA==,None,FULLTIME,Big Data Engineer,https://ca.linkedin.com/jobs/view/big-data-eng...,Big Data Engineer:\n\nWe at Advent Infotech ar...,"[ETL, Python, SQL, Spark, Hadoop, Hive]",Toronto,CA,2023-08-15,None
8,m3LKC9Ht7hYAAAAAAAAAAA==,http://www.omers.com,FULLTIME,BI Data Engineer (6-Month Contract),https://talenthub.vectorinstitute.ai/jobs/2579...,We are looking for a BI Data Engineer with Azu...,"[ETL, Modeling, Python, SQL, Spark, Databricks...",None,CA,2023-08-11,Finance
9,XLyOe7xwxKYAAAAAAAAAAA==,None,FULLTIME,Senior Machine Learning Data Engineer,https://autodesk.dejobs.org/toronto-on/senior-...,Job Requisition ID #\n\n23WD71139\n\nPosition ...,"[ETL, Modeling, Python, SQL, AWS, GCP, Spark, ...",Toronto,CA,2023-07-18,Information

In [12]:
pip install psycopg2-binary

Collecting psycopg2-binary
  Obtaining dependency information for psycopg2-binary from https://files.pythonhosted.org/packages/45/ff/5a2e9608efe865da075205833a1aa301144d8578667cdd5206ece876601c/psycopg2_binary-2.9.7-cp311-cp311-macosx_11_0_arm64.whl.metadata
  Downloading psycopg2_binary-2.9.7-cp311-cp311-macosx_11_0_arm64.whl.metadata (4.4 kB)
Downloading psycopg2_binary-2.9.7-cp311-cp311-macosx_11_0_arm64.whl (2.5 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.5/2.5 MB 504.2 kB/s eta 0:00:0000:0100:01
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.7
Note: you may need to restart the kernel to use updated packages.

In [13]:
import psycopg2

In [14]:
df_to_sql(df_rapid,'rapid_api_jobs')